<div class="mt-4" style="display: flex; justify-content: center;">
        <div class="col-lg-7" style="padding-bottom: 200px;">
            <div class="product" style="display: flex;">
                <img src="{{product.image}}" style="width: 350px;width: 350px;" alt="{{product.slug}}">
                <div class="title" style="display: block; margin-top: 50px;">
                    <h2>Tên sản phẩm : {{product.name}}</h2>
                    <h2>Mô tả: {{product.description}}</h2>
                    <h2>Giá: {{product.price}}</h2>
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 15px;">Thêm Giỏ Hàng</button>
                </div>
            </div>
        </div>
</div>