<div class="home" style="display: flex;">
<div class="col-sm-2">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Chức Năng Admin
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="funtion" style="display: block;">
            <a href="/admin/create">Thêm Sản Phẩm</a>
          </div>
        </div>
      </div>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="funtion" style="display: block;">
            <a href="/admin/create">Quản lý sản phẩm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-4" style="margin-left: 30px">
  <div class="row">
    {{#each products}}
    <div class="col-sm-7 col-lg-4">
      <div class="card" style="width: 18rem;margin-top: 30px;border-radius: 30px;">
        <div class="image">
          <a href="/product/{{this.slug}}">
            <img src="{{this.image}}" class="card-img-top" alt="...">
          </a>
        </div>
        <div class="card-body" style="width: 300px; height: 200px;">
          <a href="/product/{{this.slug}}" style="text-decoration: none;">
            <h5 class="card-title">{{this.name}}</h5>
          </a>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">Giá: {{this.price}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
</div>